
  .order-card {
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: var(--background-card) !important;
    color: var(--text-color);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 250px;
    
  }
  
  .order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 35px var(--text-extra-color);
  }
  
  .order-title {
    font-weight: bold;
    color: var(--white);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  

  